# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: CI

on:
  push:
    branches: ["master"]

  pull_request:
    branches: ["master"]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["oldstable", "stable"] # supports two most recent Go versions
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: Test using predecessor Go version
        if: matrix.go == 'oldstable'
        run: go test -cover ./...

      - name: Test using latest Go version
        if: matrix.go == 'stable'
        run: go test -v -cover -coverprofile=coverage.coverprofile ./...

      - name: Upload coverage reports to Codecov
        if: matrix.go == 'stable' # only sent the converage reports when using latest Go version
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  misspell:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable

      - name: Set up misspell
        run: go install github.com/client9/misspell/cmd/misspell@b90dc15cfd220ecf8bbc9043ecb928cef381f011 # v0.3.4

      - name: Test misspelled words
        run: misspell -error .
