name: Run fitgen Triggered by Pull Request

on:
  pull_request:
    branches:
      - workflowtest
    paths:
      - "internal/cmd/fitgen/*"

permissions: {}

jobs:
  run-fitgen:
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest

    permissions:
      contents: write # allow push commit

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkout PR
        env:
          GITHUB_TOKEN: ${{ secrets.FIT }}
        run: |
          gh pr checkout ${{ github.event.issue.number }}

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "stable"

      - name: Run fitgen
        run: |
          export wd=$(pwd)
          echo $wd
          cd internal/cmd/fitgen
          export profile_version=$(cat profile_version.txt)
          echo "profile_version=$profile_version" >> "$GITHUB_OUTPUT"
          go run main.go -f Profile.xlsx -p ../../../ -b all --profile-version $profile_version --verbose -y
          cd $wd
          sed -E -i "s/profile-v[0-9]+\.[0-9]+-lightblue.svg/profile-v$profile_version-lightblue.svg/" README.md

          cd cmd/fitconv
          go generate
          cd $wd

          cd cmd/fitprint
          go generate
          cd $wd

          if ! git diff-index --quiet HEAD; then
            echo "has_changes=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changes=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Commit and Push
        if: steps.git_status.outputs.has_changes == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.FIT }}
        run: |
          git config --global user.email "muktihaz@gmail.com"
          git config --global user.name "Hikmatulloh Hari Mukti"

          git add .
          git commit -m "gh actions: generate files for v${{ steps.check-comment.outputs.profile_version }}"
          git push
