name: Run fitgen Triggered by Pull Request

on:
  pull_request:
    branches:
      - workflowtest
    paths:
      - "internal/cmd/fitgen/*"

permissions: {}

jobs:
  run-fitgen:
    runs-on: ubuntu-latest

    permissions:
      contents: write # allow push commit

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "stable"

      - name: Run fitgen
        id: run-fitgen
        run: |
          export wd=$(pwd)
          echo $wd
          cd internal/cmd/fitgen
          export profile_version=$(cat profile_version.txt)
          echo "profile_version=$profile_version"
          echo "profile_version=$profile_version" >> "$GITHUB_OUTPUT"
          go run main.go -f Profile.xlsx -p ../../../ -b all --profile-version $profile_version --verbose -y
          cd $wd
          sed -E -i "s/profile-v[0-9]+\.[0-9]+-lightblue.svg/profile-v$profile_version-lightblue.svg/" README.md

          cd cmd/fitconv
          go generate
          cd $wd

          cd cmd/fitprint
          go generate
          cd $wd

      - name: Commit and Push
        env:
          GITHUB_TOKEN: ${{ secrets.FIT }}
        run: |
          set -ex
          if ! git diff-index --quiet HEAD; then
            git diff-index --quiet HEAD
            echo $?
            git status
            cat profile/version_gen.go
            echo "no changes"
            exit 0
          fi

          echo "generated new files"
          git config --global user.email "muktihaz@gmail.com"
          git config --global user.name "Hikmatulloh Hari Mukti"

          git add .
          git commit -m "gh actions: generate files for v${{ steps.run-fitgen.outputs.profile_version }}"
          git push
