name: Run fitgen Triggered by Pull Request

on:
  pull_request:
    branches:
      - master
    paths:
      - "internal/cmd/fitgen/*"

permissions: {}

jobs:
  run-fitgen:
    runs-on: ubuntu-latest

    permissions:
      contents: write # allow push commit

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "stable"

      - name: Run fitgen
        id: run-fitgen
        run: |
          wd=$(pwd)
          echo $wd
          cd internal/cmd/fitgen
          profile_version=$(cat profile_version.txt)
          echo "profile_version=$profile_version" | tee -a "$GITHUB_OUTPUT"
          go run main.go -f Profile.xlsx -p ../../../ -b all --profile-version $profile_version --verbose -y
          cd $wd
          sed -E -i "s/profile-v[0-9]+\.[0-9]+-lightblue.svg/profile-v$profile_version-lightblue.svg/" README.md

          cd cmd/fitconv
          go generate
          cd $wd

          cd cmd/fitprint
          go generate
          cd $wd

      - name: Commit and Push
        env:
          GITHUB_TOKEN: ${{ secrets.FIT }}
        run: |
          changes=$(git status --porcelain)
          if [[ -n "$changes" ]]; then
            git config --global user.email "muktihaz@gmail.com"
            git config --global user.name "Hikmatulloh Hari Mukti"

            git add .
            git commit -m "gh actions: generate files for v${{ steps.run-fitgen.outputs.profile_version }}"
            git push
          fi
